<p>
  <a href="{{site.ines_site}}">INES</a>
  (Infrastructure for Norwegian Earth System modelling)
  aims at:
  <ul>
  <li>Upgrade and maintain a cutting-edge and verified ESM suitable for the national climate science community and participation in international model intercomparison projects.</li>
  <li>Provide an infrastructure for efficient model simulations, storage, analysis and validation available for the national climate science community and collaborating international groups.</li>
  <li>For efficient sharing of model data, provide an infrastructure that connects to international data grids and ensures that model data complies with established standards of the climate community.</li>
  </ul>
</p>
